/*==========================GOOGLE FONTS=============================*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@500;600;700;800&family=Tilt+Prism&display=swap');

/*==========================CSS VARIABLES=============================*/
:root{
    /*=========== COLORs ===========*/
    /* Color Mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(271, 76%, 53%);
    --title-color: hsl(0, 0%, 40%);
    --text-color: hsl(0, 0%, 50%);
    --text-color: hsl(0, 0%, 50%);
    --container-color: hsl(0, 0%, 93%);
    --border-color: hsl(0, 0%, 87%);
}
